
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #383c4a;
  text-align: center;
  font-size: 90%;
  margin-top: 2rem;
}

ul.links li {
  list-style: none;
  display: inline;
  margin-right: 2rem;
}

.myButton {
  margin-bottom: 2rem;
}

.madeBy {
  color: #7c818c;
}
