body, html {
  height: 100%;
  margin: 0;
  font-family: cursive;
}

header {
  font-size: 28px;
  font-weight: 700;
}

.bg {
  background-image: linear-gradient(to bottom right, #bc6eff, #7d69ff);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.textBody {
  font-size: 20px;
  font-weight: 500;
}
